{"send":["127.0.0.1:57120"],"port":8080,"midi":["RC600:1,2","Clavier:2,3","list","mtc","sysex","active_sensing","pc_offset"],"load":"D:\\install\\open-stage-control_1.26.1_win32-x64\\OpenStageControlRC600\\RC600.json","custom-module":"D:\\install\\open-stage-control_1.26.1_win32-x64\\OpenStageControlRC600\\Sioux.js"}